html,body{
  margin: 0px;
  padding: 0px
}
.jumbotron{
		background:url('../images/u60.jpg');
		background-size:100% 100%;
		background-repeat:no-repeat;
		height: 300px;
		padding: 0px;
    position:relative;
		margin:0px;
		}
    #head{
        width: 250px;
    position:relative;
    margin-left:45%;
    margin-right:55%; 
    margin-top:8%;
    }
	.img-circle{
		width: 100px;
/*		position:relative;
		margin-left:40%;
		margin-right: 45%; 
		margin-top:8%*/
	}
	.col-md-2{
		
		margin-top: 2px;
	}
  .text{
    text-align: center;
 /*   color: #ffe2114;
    margin-left:40%;
    margin-right: 45%; 
    margin-top:15%;
    position: relative;*/
  }
    #foot{
        margin: 0px;
        padding: 0px;
      height: 210px;
    background-image: url('../images/u60.jpg');
  }
  #bfoot{
    height: 40px;
  }
  #img_head{
      width: 60px;
      height: 60px
  }
  .img_info{
     width: 200px;
      height: 242px
  }
  .hfont{
    text-align: center;
    font-family: 楷体
  }
   #foot_index{
      height: 279px;
      width: 100%;
    background-image: url('../images/word.png');
  }
  #footer{
    margin: 0px;
    padding: 0px;
  }
