<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/pub.css">

</head>
<body>
		<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right" role="search">
       <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search fa-fw"></i>
                  </button>
               </span>
               <input type="text" class="form-control" placeholder="喜欢的主题">
            </div><!-- /input-group -->
        <div class="btn-group" role="group" aria-label="false">
        <button type="button" class="btn btn-default"><i class="fa fa-home fa-fw"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-user fa-fw"></i></button>
        <button type="submit" class="btn btn-default" ><i class="fa fa-cog fa-fw"></i></button>
        <button type="submit" class="btn btn-warning"><i class="fa fa-close fa-fw"></i></button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   		<!--<iframe src="pub_head.html" frameborder="0" scrolling="no" width=100% height=50%></iframe>-->
   		 <div class="jumbotron">
   		 <div	class="container-fluid">	
       <div id="head">
          <a href="#" onclick="" >
          <img src="/images/header.jpg" class="img-circle" alt="头像不显示了！">

          </a>
             <br> 
            <span class="text"> 简介： 这是鲁大，生于忧患</span>
   
       </div>
   			
        </div>
   		 </div>

<div   class="container-fluid">
   <div class="row">
	 <div class="col-md-2">
	  <h3>我喜欢的：</h3>
   <br>
	 <button type="submit" class="btn btn-info"><i class="fa fa-book fa-fw pull-left"></i>烟台日报</button>

	 </div>
	 <div class="col-xs-10">
	 		<div class="thumbnail">
      <img id="img_head" src="/images/head.jpg" class="img-circle pull-left" alt="烟台日报">&nbsp;&nbsp;&nbsp;&nbsp;<h4>烟台日报</h4>
      <div class="caption">
      <h2><%=title%></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn btn-primary" role="button">view dails &raquo;</a>
      </div>
    </div>
  			<div class="thumbnail">
      <img id="img_head" src="/images/head.jpg" class="img-circle pull-left" alt="烟台日报">&nbsp;&nbsp;&nbsp;&nbsp;<h4>烟台日报</h4>

      <div class="caption">
      <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn btn-primary" role="button">view dails &raquo;</a>
      </div>
    </div>
    
    <div class="thumbnail">
      <img id="img_head" src="/images/head.jpg" class="img-circle pull-left" alt="烟台日报">&nbsp;&nbsp;&nbsp;&nbsp;<h4>烟台日报</h4>

      <div class="caption">
      <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <a href="#" class="btn btn-primary" role="button">view dails &raquo;</a>
      </div>
    </div>
	 </div>
   </div>	
</div>
<div id="bfoot">

</div>
    <footer id="foot">
        fsdfsdfdsgfh
    </footer>

</body>
</html>